[user]
    name = xxx
    email = xxx
[alias]
    st = status
    cm = commit
    co = checkout
    br = branch
    df = diff
    mr = merge
    slog = log --pretty=oneline --abbrev-commit
    logs = log --stat